<app-topbar/>
<main class="main">
  @if(carregando){
    <div class="animacao-carregando">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  }@else {
    <app-nomepessoa nomeSorteado="{{ listaVazia() && nenhumSorteado() ?
    'Envie um arquivo *.txt com os nomes'
    : nome }}"/>
  }
  @if(listaVazia() && nenhumSorteado()){
    <app-botao-carregar-arquivo (onFileLoad)="carregarNomes($event)"/>
  }@else {
    <app-botao-sortear (onSortear)="sortear()"/>
  }
  <textarea class="log"
  readonly
  disabled
  placeholder="Sorteados aqui">
  {{log}}
  </textarea>

</main>
<app-aviso [titulo]="titulo" [(visivel)]="visivel" okLabel="Reiniciar"
(confirm)="reiniciar()"
(cancel)="visivel = false">
  <corpo>
    {{mensagem}}
  </corpo>
  @if(todosSorteados()){
    <extra-btn>
      <button
        type="button"
        class="secondary"
        title="Gerar arquivo de log"
        (click)="gerarLog()"
        >Gerar arquivo de log</button>
    </extra-btn>

  }
</app-aviso>
<router-outlet />
